form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .campo-input {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .campo-input:has(input[required]) label::after {
        content: '*';
        color: red;
    }
}

form.login, form.cadastro {
    background-color: white;
    width: 60%;
    padding: 20px;
    border-radius: 10px;
}

input,
textarea {
    padding: 10px;
    resize: none;
}